name, email{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2{
  text-align: center;
}

location, date{
  text-align: right;
}


body{
  background-color: #D8BFD8;
  max-width: 816px;
  font-family: "Times New Roman", Times, serif;
}

